<h3>Explanation</h3>
<p>At this point in the planning process, the analysis necessary to underpin your advocacy strategy is complete. Hence, now it is time to use that analysis to guide the definition of the shorter-term results that must be achieved in order to reach the advocacy objective. These are your advocacy interim outcomes and when arranged sequencially they will describe the plausible path of how you envision that the policy change you are seeking will take place as a result of your advocacy. </p>
<p>The interim outcomes refer to changes in the target audiences/critical players´attitudes, beliefs or behaviours and usually include some of the following elements:</p>
<table class="table table-bordered">
  <tr>
    <th>Frequent categories of interim outcomes</th>
    <th>Definition</th>
    <th>Examples</th>
  </tr>
  <tr>
    <td>Political will</td>
    <td>Willingness of policymakers to act in support of an issue or policy proposal</td>
    <td>Members of Parliament issue a statement in favour of regulating the fracking</td>
  </tr>
  <tr>
    <td>Public will</td>
    <td>Willingness of a (non-policymaker) target audience to act in support of an issue or policy proposal</td>
    <td>Increased citizens´ willingness to participate in acts against evictions </td>
  </tr>
  <tr>
    <td>Attitudes or beliefs</td>
    <td>Target audiences’ thoughts, feelings or judgements about an issue or policy proposal</td>
    <td>Increased number of young people´s in favour of removing the bicameral system</td>
  </tr>
  <tr>
    <td>Salience</td>
    <td>The importance a target audience assigns to an issue or policy proposal</td>
    <td>Increased the importance citizens give to child poverty as an urgent problem politician should pay attention to.</td>
  </tr>
  <tr>
    <td>Awareness</td>
    <td>Audience acknowledgement that a problem exists or familiarity with a policy proposal</td>
    <td>Improved EU Council awareness of conflict in country XX and the increasing number of refugeees in neighbourhood countries.</td>
  </tr>
  <tr>
    <td>New champions</td>
    <td>High-profile individuals who adopt an issue and publicly advocate for it</td>
    <td>African leaders speak out to reduce stigma against homosexual people.</td>
  </tr>
  <tr>
    <td>New advocates </td>
    <td>Previously unengaged individuals who take action in support of an issue or position</td>
    <td>Well-known basketball players stand against racism. </td>
  </tr>
  <tr>
    <td>Partnerships or alliances</td>
    <td>Mutually beneficial relationships with other organizations or individuals who support or participate in an advocacy strategy</td>
    <td>Coalition on violence against women and children in place with the participation of diverse and well-respected organizations. </td>
  </tr>
  <tr>
    <td>Constituency or support-base growth</td>
    <td>Increase in the number of individuals who can be counted on for sustained advocacy or action on an issue</td>
    <td>Expanded young people support-base </td>
  </tr>
  <tr>
    <td>Media coverage</td>
    <td>Quantity and / or quality of coverage generated in print, broadcast, digital or social media</td>
    <td>Major social media make an extensive coverage of the new data </td>
  </tr>
  <tr>
    <td>Issue reframing</td>
    <td>Changes in how an issue is presented, discussed, or perceived</td>
    <td>Climate change is presented as a problem affecting people (human face)</td>
  </tr>
  <tr>
    <td>Organizational advocacy capacity</td>
    <td>The ability of an organization or coalition to lead, adapt, manage and implement advocacy strategy</td>
    <td>Coaliton defines and carries out advocacy strategy according to the general coalition agreement</td>
  </tr>
  <tr>
    <td>Organizational visibility or issue recognition</td>
    <td>Identification of an organization or campaign as a credible source, leader, partner on an issue</td>
    <td>Organization is recognized as credible voice on the issue of inequality</td>
  </tr>
</table>
<p>Source: Adapted from UNICEF (2010) Advocacy toolkit, pg 64</p>
<p>The selection of the interim outcomes should be based on the conclusions from the previous analysis: actor mapping, decision-making process, enabling factors and barriers (including the contextual information obtained from the prioritizing table). </p>
<p>For example: a) an organization defines as its advocacy objective the adoption of a Law“X” next year; b) the actor mapping shows that there are active supporters and opponents with similar level of power; the public is neutral and there are few grassroots organizations with some influence working on the issue; c) The decision-making process analysis shows that the Law has been assigned to the Committee on Labour, which will be a key player during the adoption process. Then, in order to move the balance in your favour and progress in the achievement of your objectives your interim outcomes will probably include changes in the public such as increase their awareness on the issue so they position themselves in favour of it and to build their public will to act in support of the issue so they put pressure on decision-makers. You will most likely also aim for powerful messages delivered by the media or new champions to encourage the supporters and influence the public so they can become a force to move opponents to reduce their opposition to the policy change.</p>
<p>Interim outcomes indicate movements towards the advocacy objective, they are “measures of effect” and therefore they “should also be worded in terms of the desired result or achievement, not in terms of the activity or what will be done”. “Raise support for children’s rights among key decision-makers,” for example, is activity-oriented. A results-oriented outcome is: “Decision-makers X, Y and Z will demonstrate their increased support for children’s rights by calling for increased funding for boys’ and girls’ primary education.” </p>
<p>The interim outcomes can be organized in a logical chain where the combined effort of reaching some of them contributes to achieve the overall advocacy objective. The deeper you have worked in your analysis of problems, the more accurate you will be in organising your outcomes. This logical chain is sometimes known as your theory of change, which explains how you expect policy change to happen and what will pave the way to the implementation of the desired policy solution. </p>

<h3>Example</h3>
<hr>
<ul>
  <li>INGO and UNICEF strengthen their collaboration and jointly advocate the National Assembly and the Government to reform the policy framework on HI in order to cover informal workers and their families (partnerships)</li>
  <li>All UN organizations interested on this issue (WHO, ILO, UNAIDS, UNWOMEN, UNICEF) agree on joint advocacy actions and actively engage in their implementation (partnerships)</li>
  <li>Key neutral media cover and support the issue and give voices to the demands of informal workers (media coverage)</li>
  <li>Affected people groups/networks engage and take action in support of the issue (constituency growth)</li>
  <li>Director of the Department of HI demonstrates its support to expanding HI coverage to informal workers by speaking in favour of it publicly (political will)</li>
  <li>Members of Parliament are aware of our policy proposal and recognize that the problem exists and solutions must be promptly set in place (awareness and salience)</li>
  <li>UNICEF/ UN is invited to prepare and present a report on the implementation of the HI Law (organizational recognition)</li>
</ul>
