<script type="text/ng-template" id="enabling-factor-aside.html">
  <div class="modal-header">
    <h3 class="modal-title">Enabling Factor</h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Description</label>
        <input type="text" name="description" class="form-control" ng-model="current_enabling_factor" placeholder="Enter Description">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save($event)" ng-class="{disabled: current_enabling_factor == ''}">Save</button>
    <button class="btn btn-warning" ng-click="cancel($event)">Cancel</button>
  </div>
</script>
