<div class="container main">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 stage_menu">
          <h3>Which external factors you need to take into account in your advocacy planning?</h3>
          <ul class="nav nav-stacked">
            <li class="active"><a href="#"><i class="fa fa-check-circle"></i> Understand the institutional and decision-making cycles</a></li>
            <li><a href="#"><i class="fa fa-check-circle"></i> Map the actors and analyse their influence and support</a></li>
            <li><a href="#"><i class="fa fa-check-circle"></i> Identify additional enabling factors and barriers</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
          <h2>Which external factors you need to take into account in your advocacy planning?</h2>
          <p>Understanding the decision-making cycle, the political forces both for and against your objectives and the enabling factors and barriers that you will likely encounter during the implementation of your advocacy plan will allow you to assess the feasibility of your objectives and to be accurate and effective in your targeting and planning. All this information will then shape the definition of the interim outcomes (see below).</p>

          <div role="tabpanel" class="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Data Entry</a></li>
              <li role="presentation"><a href="#explanation" aria-controls="explanation" role="tab" data-toggle="tab">Explanation & Examples</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" ng-controller="stage3Ctrl">
              <div role="tabpanel" class="tab-pane active" id="data">
              <div class="bg_grey">
                <h4>Understand the institutional and decision-making cycles</h4>
                <p>Policy decisions are often made according to a cycle or schedule. To maximise your influence you need to have a sound understanding of the policy processes. First, because the analysis of the decision-making process helps to identify opportunities and entry points to begin influencing on a given issue. Second, because last-minute interventions rarely work, and the earlier in the decision-making cycle the idea is accepted, the more effective the end result is likely to be</p>
                <button type="button" class="btn btn-warning"><i class="fa fa-pencil"></i> Draw in Sandbox</button>
              </div>
              <div class="bg_grey">
                <h4>Map the actors and analyse their influence and support</h4>
                <p>Effective advocacy requires having a good understanding of all relevant actors: those with power to make change happen (decision-makers); those with influence over the decision-makers (influencers); and those in the community who would be supportive or opposing forces.</p>
                <button type="button" class="btn btn-warning" ng-click="add_edit_actor()">Add Actor</button>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#ASWI" aria-expanded="false" aria-controls="collapseExample">All Actors</a>  
                  </div>      
                  <div class="collapse steps in" id="ASWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr ng-repeat="actor in actors">
                        <td>{{actor.name}}</td>
                        <td>{{actor.actor_type}}</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit" ng-click="add_edit_actor(actor)"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete" ng-click="delete_actor(actor)"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#ASWI" aria-expanded="false" aria-controls="collapseExample">Active supporters with influence</a>  
                  </div>      
                  <div class="collapse steps in" id="ASWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#PSWI" aria-expanded="false" aria-controls="collapseExample">Passive supporters with influence </a>  
                  </div>      
                  <div class="collapse steps in" id="PSWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#AAWLI" aria-expanded="false" aria-controls="collapseExample">Active allies with low influence </a>  
                  </div>      
                  <div class="collapse steps in" id="AAWLI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#NWI" aria-expanded="false" aria-controls="collapseExample">Neutrals with influence</a>  
                  </div>      
                  <div class="collapse steps in" id="NWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#AOWI" aria-expanded="false" aria-controls="collapseExample">Active opponents with influence</a>  
                  </div>      
                  <div class="collapse steps in" id="AOWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#POWI" aria-expanded="false" aria-controls="collapseExample">Passive opponents with influence</a>  
                  </div>      
                  <div class="collapse steps in" id="POWI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th>Influence</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td>Significant Influential</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td>Passive opponents with low influence</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#AOWLI" aria-expanded="false" aria-controls="collapseExample">Active opponents with low influence</a>  
                  </div>      
                  <div class="collapse steps in" id="AOWLI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#PAWLI" aria-expanded="false" aria-controls="collapseExample">Passive allies with low influence</a>  
                  </div>      
                  <div class="collapse steps in" id="PAWLI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#POWLI" aria-expanded="false" aria-controls="collapseExample">Passive opponents with low influence</a>  
                  </div>      
                  <div class="collapse steps in" id="POWLI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading table_goals">
                    <a data-toggle="collapse" href="#NWNI" aria-expanded="false" aria-controls="collapseExample">Neutrals with no influence</a>  
                  </div>      
                  <div class="collapse steps in" id="NWNI">
                    <table class="table">
                      <tr>
                        <th>Name</th>
                        <th>Actor Type</th>
                        <th class="text-center">Important</th>
                        <th class="text-center">Actions</th>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Party XX</td>
                        <td>Organization</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      <tr>
                        <td>Director of the Department on Health Insurance</td>
                        <td>Person</td>
                        <td class="text-center"><a href=""><i class="fa fa-check-square"></i></a></td>
                        <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                    </table>
                  </div>
              </div>
                
              <div class="bg_grey">
                <button type="button" class="btn btn-warning pull-right">Add</button>
                <h4>Identify additional enabling factors and barriers <i class="fa fa-info-circle" title="Thanks to the prioritizing table, the decision-making cycle analysis and the actor mapping you will have already identified a number of enabling factors and barriers to achieve your chosen objective. However, you may need to go deeper into the analysis of the context surrounding the specific policy change that you want to pursue. You should think devote time to think about additional relevant enabling factors and barriers of different nature: financial, social, technological, factual, political, religious, cultural, geographical, organizational, etc."></i></h4>
                
                <table class="table">
                  <tr>
                    <th>Type</th>
                    <th>Content</th>
                    <th class="text-center">Actions</th>
                  </tr>
                  <tr>
                    <td>Barriers</td>
                    <td>Expanding coverage was already discussed in previous reform and awareness was raised among some of the current NA members</td>
                    <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td>Enabling factors</td>
                    <td>Uncertainty about the future of the Director of HI Department (rumours of early retirement)</td>
                    <td class="text-center"><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                  </tr>
                </table>

                <script type="text/ng-template" id="actor-aside.html">
                    <div class="modal-header">
                      <h3 class="modal-title">Actor</h3>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="influence">Actor Type</label>
                          <select class="form-control" id="influence" ng-model="current_actor.actor_type">
                            <option value="">Select Actor Type</option>
                            <option value="Person">Person</option>
                            <option value="Organization">Organization</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="title">Name</label>
                          <input type="text" name="name" class="form-control" ng-model="current_actor.name" placeholder="Enter the actor's name">
                        </div>
                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea name="description" class="form-control" ng-model="current_actor.description" placeholder="Add any important actor info"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="influence">Influence Level</label>
                          <select class="form-control" id="influence" ng-model="current_actor.influence">
                            <option value="">Select Influence Level</option>
                            <option value="2">Very influential</option>
                            <option value="1">Significant influence</option>
                            <option value="0">Moderate influence</option>
                            <option value="-1">Low influence</option>
                            <option value="-2">No influence</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="support">Support</label>
                          <select class="form-control" id="support" ng-model="current_actor.support">
                            <option value="">Select Support Level</option>
                            <option value="2">Very supportive</option>
                            <option value="1">Significant Support</option>
                            <option value="0">Moderate support</option>
                            <option value="-1">Low support</option>
                            <option value="-2">No support</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" ng-click="save($event)">Save</button>
                      <button class="btn btn-warning" ng-click="cancel($event)">Cancel</button>
                    </div>
                </script>

              </div>

              </div>
              <div role="tabpanel" class="tab-pane" id="explanation">
                <h3>Explanation</h3>
                <hr>
                <h4>Which real-world problem children are facing that you want to address?</h4>
                <p>A real-world problem is the negative situation children face that UNICEF would like to change (malnutrition, child poverty, infant mortality, disparities in education, etc). At the early stages of the planning process you should identify and articulate the real-world problem you want to address. The problem should be described as precisely and concretely as possible. For instance, whenever is possible, it should include the geographical scope, a time period, and population affected (see example below)</p>
                <h4>Which are the policy-related causes of the real-world problem?</h4>
                <p>Behind the real-world problems there are usually multiple causes, including causes related to programmes, to bad practices or to the policymaking environment. Advocacy work focuses specifically on the latest and often refers to causes such as deficient governance mechanisms, inadequate legal framework or imbalanced power relationships. Therefore, your problem analysis should prioritize the identification of these causes rather than all the factors behind the real-world problem.</p>
                <p>To conduct the problem analysis, you can use a problem tree. The problem tree is a well-known tool that “will help advocates understand the immediate, underlying and root causes of the issue, as well as help in gathering information to support the analysis”.</p>
                <h4>Which policy solutions would constitute an appropriate response?</h4>
                <p>What are the main policy solutions that would resolve the problems identified and that UNICEF would like to see adopted?</p>
                <p>The policy solutions usually refer to:</p>
                <ul>
                  <li>Policy development (ex. Development of a nutrition national plan)</li>
                  <li>Placement on the policy agenda. (Ex: Official paper on new financing mechanisms)</li>
                  <li>Policy adoption. (Ex: approval of equal pay act)</li>
                  <li>Policy blocking: (Ex. Rejection of anti-homosexuality bill)</li>
                  <li>Policy implementation: (Ex. Implementation of regulations forbidding summary deportations by the police)</li>
                  <li>Policy maintenance. (Ex.: No reduction of budgets for child protection policies)</li>
                </ul>
                <p>In those contexts where a policy change may be too ambitious, an organization may aim for a discursive change (which should pave the way for a policy change in the longer run). For instance, for many years, given the lack of options to achieve change on policies related to tax heavens, organizations working on tax justice focused their advocacy efforts on a change in the discourse in the society so tax havens were seen by the majority as an unacceptable practice that distract critical resources for the countries to pay for social services. These efforts built the ground for changes in policy later on when opportunities appeared (i.e. with the 2008 financial crisis).</p>
                
                <h3>Example</h3>
                <hr>
                <h4>Real-world problem</h4>
                <p>Increasing mother to child transmission of HIV in country AEIOU during the last 3 years</p>
                <h4>Policy dimensions of the problem</h4>
                <ul>
                  <li>Women and children not included as target populations of the National Strategic Plan (epidemy historically concentrated in male drug users)</li>
                  <li>Health insurance law does not cover informal workers and many women at risk belong to this group. (Therefore, due to limited capacity to cover out-of-pocket expenditures women with little resources do not attend clinics for HIV testing and treatment)</li>
                  <li>PMTCT not included as a priority in the National Strategic Plan (few resources to improve services, campaigns, etc.)- Few donors paying attention to it.</li>
                  <li>Current legal framework stipulates detention for sex workers (after 3 monetary sanctions), which prevents sex workers to attend health services due to fear of being denounced. </li>
                </ul>
                <h4>Policy Solutions</h4>
                <ul>
                  <li>Amendment to the Penal Code to remove sanctions in the form of detention for sex workers</li>
                  <li>Revision of the National HIV Strategy </li>
                  <li>Health insurance policy framework revised to cover disadvantaged informal workers</li>
                  <li>Increase donor funding on PMTCT</li>
                </ul>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    