<div class="flash-container">
  <% flash.each do |key, value| %>
    <div class="alert ng-binding ng-scope alert-<%= key %>">
      <a href="<%=root_path%>" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>