<script type="text/ng-template" id="aside.html">
	<div class="modal-header">
		<h3 class="modal-title">Problema Real</h3>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<label for="title">Título</label>
				<input type="text" name="title" class="form-control" ng-model="problem.title" placeholder="Ingrese el título del problema">
			</div>
			<div class="form-group">
				<label for="description">Descripción</label>
				<textarea name="description" class="form-control textarea-400" ng-model="problem.description" placeholder="Ingrese una descripción para el problema" style="height: 250px"></textarea>
			</div>
			<!--div class="form-group">
				<label for="focus_area">Focus Area</label>
				<select name="focus_area" ng-model="problem.focus_area">
					<option ng-repeat="fa in focus_areas">{{ fa }}</option>
				</select>
			</div-->
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save($event)" ng-class="{disabled: problem.title == '' }">Guardar</button>
		<button class="btn btn-warning" ng-click="cancel($event)">Cancelar</button>
	</div>
</script>