<script type="text/ng-template" id="solutions-list-aside.html">
<div class="modal-header">
	<h3 class="modal-title">Solutions</h3>
</div>
<div class="modal-body">
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="solution in solutions">
				<td>{{ solution.title }}</td>
				<td>{{ solution.description | limitTo:500 }}...</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel($event)">Cancel</button>
</div>
</script>
