<script type="text/ng-template" id="user-permission-aside">
  <div class="modal-header">
      <h3 class="modal-title">Compartir</h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="share_users">Añade a Personas</label>
        <input type="text" class="form-control" name="share_users" ng-model="share.share_users" placeholder="Añade las cuentas de mail separadas por comas">
      </div>
      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea class="form-control" name="message" ng-model="share.message" placeholder="Escribe un mensaje"></textarea>
      </div>
      <div class="form-group">
        <label for="share">Compartido con</label>
        <ul ng-repeat="member in current_project.members">
          <li ng-if="member.role != 'owner' ">{{ member.email }} <a href="#"><i class="fa fa-trash" ng-click="delete_shared_user(member)"></i></a></li>
        </ul>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save($event)">Compartir</button>
    <button class="btn btn-warning" ng-click="cancel($event)">Cancelar</button>
  </div>
</script>