development:
  BASE_URL: 'estratega.io'
  SMTP_SETTING_ADDRESS: 'smtp.postmarkapp.com'
  SMTP_SETTING_PORT: '2525'
  SMTP_SETTING_USERNAME: ''
  SMTP_SETTING_PASSWORD: ''
  MAILER_SENDER: 'estratega@ciudadanointeligente.org'
  ADMIN_MAIL: 'estratega@ciudadanointeligente.org'
test:
  BASE_URL: ''
  SMTP_SETTING_ADDRESS: ''
  SMTP_SETTING_PORT: ''
  SMTP_SETTING_USERNAME: ''
  SMTP_SETTING_PASSWORD: ''
  MAILER_SENDER: 'test@test.com'
  ADMIN_MAIL: 'estratega@ciudadanointeligente.org'
production:
  BASE_URL: 'estratega.io'
  SMTP_SETTING_ADDRESS: 'smtp.postmarkapp.com'
  SMTP_SETTING_PORT: '2525'
  SMTP_SETTING_USERNAME: ''
  SMTP_SETTING_PASSWORD: ''
  MAILER_SENDER: 'estratega@ciudadanointeligente.org'
  ADMIN_MAIL: 'estratega@ciudadanointeligente.org'
