        <div class="row setup-content" id="step-3">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h3>Step 3 - Policy solutions</h3>
                    <p>Describe the main policy solutions that would constitute an appropriate response</p>
                    <div class="form-group">
                        <div role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#explication3" aria-controls="home" role="tab" data-toggle="tab">Explication</a></li>
                                <li role="presentation"><a href="#data-entry3" aria-controls="profile" role="tab" data-toggle="tab">Data Entry</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="explication3">
                                    <h4>Description</h4>
                                    <p>What are the main policy solutions that would resolve the problems identified and that UNICEF would like to see adopted?</p>
                                    <hr>
                                    <h4>Example</h4>
                                    <p>Policy solutions:</p>
                                    <ul>
                                        <li>Social assistance decree modified to increase benefits</li>
                                        <li>Tailored employment policies in place for disadvantaged groups</li>
                                        <li>Unemployment subsidy extended for 6 months</li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="data-entry3">
                                    <div class=row>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="policy-solution">Policy Solution</label>
                                                <input type="text" class="form-control" required="required" id="policy-solution" placeholder="Enter policy solution">
                                            </div>
                                            <button class="btn btn-default" type="button" ><i class="fa fa-plus-square-o"></i> Add Policy Solution</button>
                                            <hr>
                                            <table class="table table-bordered">
                                              <thead>
                                                <tr>
                                                  <th>Policy Solution</th>
                                                  <th>Actions</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus ipsum, condimentum vitae varius non</td>
                                                  <td class="text-right actions">
                                                        <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      <a data-confirm="Are you sure you want to permanently delete this sandbox?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus ipsum, condimentum vitae varius non</td>
                                                  <td class="text-right actions">
                                                        <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      <a data-confirm="Are you sure you want to permanently delete this sandbox?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <button class="btn btn-success" type="button" >Save</button> 
                                            <button class="btn btn-success nextBtn" type="button" >Save & Next</button>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- [graph] -->
                                            <div id="jorg-step-three"></div>
                                            <script type="text/javascript">
                                                var json_three = {
                                                                    "real_problem": {
                                                                        "title": "main problem",
                                                                        "policy_problems": [
                                                                            {
                                                                                "title": "a policy problem 01",
                                                                                "solutions": []
                                                                            },
                                                                            {
                                                                                "title": "a policy problem 02",
                                                                                "solutions": []
                                                                            },
                                                                            {
                                                                                "title": "a policy problem 03",
                                                                                "solutions": []
                                                                            },
                                                                            {
                                                                                "title": "a policy problem 04",
                                                                                "solutions": []
                                                                            }
                                                                        ]
                                                                    }
                                                                }
                                                
                                                function generateStepThree(json_three) {
                                                    if(json_three) $('#jorg-step-three').json2html(json_three.real_problem, transform.main);
                                                }

                                                $(document).ready(function(){
                                                    generateStepThree(json_three);
                                                });

                                                </script>
                                            <!-- end graph -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>