<h3 class="page-header">Lorem ipsum dolor sit amet consectetur adipiscing elit?</h3>
<div class="row">
  <div class="col-md-6">
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus ipsum, condimentum vitae varius non, vulputate eu enim. Etiam non ultrices nulla. Mauris tempus posuere semper.</p>
  	<form>
	  <div class="form-group">
	    <label for="projectname">Project Name</label>
	    <input type="text" class="form-control" id="projectname" placeholder="Enter project name">
	  </div>
	  <button type="submit" class="btn btn-success">I'm ready</button> <a href="#">I need time</a>
	</form>
  </div>
  <div class="col-md-6">
  	<div class="well">
  		<h4>Quick Reference</h4>
  		<ol>
  			<li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
  			<li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
  			<li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
  			<li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
  			<li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
  		</ol>
  	</div>
  </div>
</div>