<h2>Project 1</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus ipsum, condimentum vitae varius non, vulputate eu enim. Etiam non ultrices nulla. Mauris tempus posuere semper.</p>
<hr>
<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#stages" aria-controls="stages" role="tab" data-toggle="tab">Stages</a></li>
    <li role="presentation"><a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab">Dashboard</a></li>
    <li role="presentation"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="stages">
    	
		<div class="row">
  <div class="col-md-12">
  	<div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-title" title="Complete Stage"><a data-toggle="collapse" href="#stage1" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-check-circle"></i> Stage 1: Articulate problems and policy solutions</a></h4> 	
	  	</div>	  	
	  	<div class="collapse steps" id="stage1">
	  		<table class="table table-bordered">
		        <tbody>
		        	<tr title="Complete Step">
		        		<td class="text-center td-w-10p"><i class="fa fa-unlock"></i> </td>
		        		<td><a href="#">Articulate the real-world problem children are facing that you want to address</a></td>
		        	</tr>
		        	<tr title="Complete Step">
		        		<td class="text-center td-w-10p"><i class="fa fa-unlock"></i> </td>
		        		<td><a href="#">Identify policy dimensions of the 'real-world' problem</a></td>
		        	</tr>
		        	<tr title="Complete Step">
		        		<td class="text-center td-w-10p"><i class="fa fa-unlock"></i></td>
		        		<td><a href="#">Policy solutions: Describe the main policy solutions that would constitute an appropriate response</a></td>
		        	</tr>
		        </tbody>
			</table>
	  	</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  	<div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-title" title="You must complete the previous stage"><a data-toggle="collapse" href="#stage2" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-times-circle"></i> Stage 2: Articulate and prioritize objectives (Example)</a></h4> 	
	  	</div>	  	
	  	<div class="collapse steps" id="stage2">
	  		<table class="table table-bordered">
		        <tbody>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Add and prioritize objectives</td>
		        	</tr>
		        </tbody>
			</table>
	  	</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  	<div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-title" title="Complete Stage"><a data-toggle="collapse" href="#stage3" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-check-circle"></i> Stage 2: Articulate and prioritize objectives</a></h4> 	
	  	</div>	  	
	  	<div class="collapse steps" id="stage3">
	  		<table class="table table-bordered">
		        <tbody>
		        	<tr title="Complete Step">
		        		<td class="text-center td-w-10p"><i class="fa fa-unlock"></i></td>
		        		<td><a href="#">Add and prioritize objectives</a></td>
		        	</tr>
		        </tbody>
			</table>
	  	</div>
  	</div>
  </div>
</div>
<hr>

<h4 class="title_goals">Stage 3: Set Goals</h4>

<div class="row">
  <div class="col-md-12">
  	<div class="panel panel-default">
	  	<div class="panel-heading">
  			<table class="table_goals">
  			<tr title="Stage Uninitiated or Incomplete">
  				<td class="td-w-3p"><i class="fa fa-chevron-circle-right pull-left"></i></td>
  				<td><a data-toggle="collapse" href="#goal0" aria-expanded="false" aria-controls="collapseExample">By the end of 2018, the Government revises the National HIV Strategy and includes women at risk among targeted and PMTCT among critical strategies</a></td>
  			</tr>
  			</table> 
	  	</div>	  	
	  	<div class="collapse steps in" id="goal0">
	  		<table class="table table-bordered">
		        <tbody>
		        	<tr title="Uninitiated Step">
		        		<td class="text-center td-w-10p"><i class="fa fa-unlock-alt"></i></td>
		        		<td><a href="">Understand the institutional and decision-making cycles/Policy process</a></td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>List actors and power map</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Identify enabling factors and barriers</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Define the interim outcomes and activities</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Define theory of change</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Develop menssages</td>
		        	</tr>
		        </tbody>
			</table>
	  	</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  	<div class="panel panel-default">
	  	<div class="panel-heading">
  			<table class="table_goals">
  			<tr title="Stage Uninitiated or Incomplete">
  				<td class="td-w-3p"><i class="fa fa-chevron-circle-right pull-left"></i></td>
  				<td><a data-toggle="collapse" href="#goal1" aria-expanded="false" aria-controls="collapseExample">By the end of 2018, the National Assembly/Government revises the Health Insurance policy framework to expand coverage to disadvantaged informal workers and their families and to include PMTCT in the benefit package</a></td>
  			</tr>
  			</table> 
	  	</div>	  	
	  	<div class="collapse steps in" id="goal1">
	  		<table class="table table-bordered">
		        <tbody>
		        	<tr title="Uninitiated Step">
		        		<td class="text-center td-w-10p"><i class="fa fa-unlock-alt"></i></td>
		        		<td><a href="">Understand the institutional and decision-making cycles/Policy process</a></td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>List actors and power map</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Identify enabling factors and barriers</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Define the interim outcomes and activities</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Define theory of change</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Develop menssages</td>
		        	</tr>
		        </tbody>
			</table>
	  	</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  	<div class="panel panel-default">
	  	<div class="panel-heading">
  			<table class="table_goals">
  			<tr title="Stage Uninitiated or Incomplete">
  				<td class="td-w-3p"><i class="fa fa-chevron-circle-right pull-left"></i></td>
  				<td><a data-toggle="collapse" href="#goal2" aria-expanded="false" aria-controls="collapseExample">By the end of 2018, donors raise their external assistance to PMTCT</a></td>
  			</tr>
  			</table> 
	  	</div>	  	
	  	<div class="collapse steps in" id="goal2">
	  		<table class="table table-bordered">
		        <tbody>
		        	<tr title="Uninitiated Step">
		        		<td class="text-center td-w-10p"><i class="fa fa-unlock-alt"></i></td>
		        		<td><a href="">Understand the institutional and decision-making cycles/Policy process</a></td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>List actors and power map</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Identify enabling factors and barriers</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Define the interim outcomes and activities</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Define theory of change</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Develop menssages</td>
		        	</tr>
		        </tbody>
			</table>
	  	</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  	<div class="panel panel-default">
	  	<div class="panel-heading">
  			<table class="table_goals">
  			<tr title="Stage Uninitiated or Incomplete">
  				<td class="td-w-3p"><i class="fa fa-chevron-circle-right pull-left"></i></td>
  				<td><a data-toggle="collapse" href="#goal3" aria-expanded="false" aria-controls="collapseExample">By the end of 2018, the National Assembly amends the Penal Code to remove detention among the list of sanctions for sex workers</a></td>
  			</tr>
  			</table> 
	  	</div>	  	
	  	<div class="collapse steps in" id="goal3">
	  		<table class="table table-bordered">
		        <tbody>
		        	<tr title="Uninitiated Step">
		        		<td class="text-center td-w-10p"><i class="fa fa-unlock-alt"></i></td>
		        		<td><a href="">Understand the institutional and decision-making cycles/Policy process</a></td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>List actors and power map</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Identify enabling factors and barriers</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Define the interim outcomes and activities</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Define theory of change</td>
		        	</tr>
		        	<tr title="You must complete the previous step">
		        		<td class="text-center td-w-10p"><i class="fa fa-lock"></i></td>
		        		<td>Develop menssages</td>
		        	</tr>
		        </tbody>
			</table>
	  	</div>
  	</div>
  </div>
</div>

    </div>
    <div role="tabpanel" class="tab-pane" id="dashboard">...</div>
    <div role="tabpanel" class="tab-pane" id="documents">
        <%= render "resources" %>
    </div>
  </div>

</div>