<div class="container main">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 stage_menu">
          <h3>STAGE 1</h3>
          <ul class="nav nav-stacked">
            <li class="active"><a href="#"><i class="fa fa-check-circle"></i> What do you think the real-world problem?</a></li>
            <li><a href="#"><i class="fa fa-check-circle"></i> What do you think are the policy dimensions of the 'real-world' problem?</a></li>
            <li><a href="#"><i class="fa fa-check-circle"></i> What policy solutions do you propose?</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
          <h2>Articulate problems and policy solutions</h2>
          <p>The interim outcomes are key changes that need to happen in order to achieve the advocacy objetive</p>

          <div role="tabpanel" class="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Data Entry</a></li>
              <li role="presentation"><a href="#explication" aria-controls="explication" role="tab" data-toggle="tab">Explication & Examples</a></li>
              <li role="presentation"><a href="#tips" aria-controls="tips" role="tab" data-toggle="tab">Workshop Tips</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="data">
              <div class="bg_grey">
                <button type="button" class="btn btn-warning pull-right">Edit</button>
                <h4>What do you think the real-world problem? <i class="fa fa-info-circle" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu ex. Vestibulum eget felis eros. Proin vehicula fermentum augue, eu tristique velit accumsan a. Praesent vel metus ante."></i></h4>

                <p class="bold">Problem</p>
                <p>20 per cent of children in country XX live below the poverty line</p>
                <p class="bold">Explanation</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu ex. Vestibulum eget felis eros. Proin vehicula fermentum augue, eu tristique velit accumsan a. Praesent vel metus ante. Integer tempus, nunc in congue mattis, velit nisl ultrices arcu, eget molestie dui diam suscipit eros. Suspendisse potenti</p>
                <p class="bold">Focus Area</p>
                <p>Poverty and hunger</p>
              </div>
              <div class="bg_grey">
                <button type="button" class="btn btn-warning pull-right">Add</button>
                <h4>What do you think are the policy dimensions of the 'real-world' problem? <i class="fa fa-info-circle" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu ex. Vestibulum eget felis eros. Proin vehicula fermentum augue, eu tristique velit accumsan a. Praesent vel metus ante."></i></h4>
              </div>

              <div class="panel panel-default objetives">
                <div class="panel-heading">
                  <button type="button" class="btn btn-warning pull-right">Edit</button>
                  <h4 class="panel-title"><a data-toggle="collapse" href="#objetive1" aria-expanded="false" aria-controls="collapseExample">Women and children not included as target populations of the National Strategic Plan (epidemy historically concentrated in male drug users)</a></h4>   
                </div>      
                <div class="collapse in" id="objetive1">
                  <button type="button" class="btn btn-info pull-right">Add</button>
                  <h4>What policy solutions do you propose? <i class="fa fa-info-circle" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu ex. Vestibulum eget felis eros. Proin vehicula fermentum augue, eu tristique velit accumsan a. Praesent vel metus ante."></i></h4>
                  <table class="table">
                      <tbody>
                        <tr>
                          <td>Amendment to the Penal Code to remove sanctions in the form of detention for sex workers</td>
                          <td><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                          <td>Amendment to the Penal Code to remove sanctions in the form of detention for sex workers</td>
                          <td><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                          <td>Amendment to the Penal Code to remove sanctions in the form of detention for sex workers</td>
                          <td><a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete"><i class="fa fa-trash"></i></a></td>
                        </tr>
                      </tbody>
                </table>
                </div>
              </div>

              <div class="panel panel-default objetives">
                <div class="panel-heading">
                  <button type="button" class="btn btn-warning pull-right">Edit</button>
                  <h4 class="panel-title"><a data-toggle="collapse" href="#objetive2" aria-expanded="false" aria-controls="collapseExample">PMTCT not included as a priority in the National Strategic Plan (few resources to improve services, campaigns, etc.)- Few donors paying attention to it</a></h4>   
                </div>      
                <div class="collapse in" id="objetive2">
                  <button type="button" class="btn btn-info pull-right">Add</button>
                  <h4>What policy solutions do you propose? <i class="fa fa-info-circle" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu ex. Vestibulum eget felis eros. Proin vehicula fermentum augue, eu tristique velit accumsan a. Praesent vel metus ante."></i></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu ex. Vestibulum eget felis eros. Proin vehicula fermentum augue, eu tristique velit accumsan a. Praesent vel metus ante. Integer tempus, nunc in congue mattis, velit nisl ultrices arcu, eget molestie dui diam suscipit eros</p>
                </div>
              </div>

              </div>
              <div role="tabpanel" class="tab-pane" id="explication">...</div>
              <div role="tabpanel" class="tab-pane" id="tips">...</div>
            </div>

          </div>

        </div>
      </div>
    </div>
    