<script type="text/javascript">
$('#myTab a').click(function (e) {
  e.preventDefault()
  $('#myTab a:first').tab('show') // Select first tab
})
</script>
<h3>Develop your  asks, messages and narrative</h3>
<p>Decide what you will monitor and evaluate and define indicators. Agree on how you will share knowledge</p>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#explication" aria-controls="home" role="tab" data-toggle="tab">Explication</a></li>
  <li role="presentation"><a href="#data-entry" aria-controls="profile" role="tab" data-toggle="tab">Data Entry</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="explication">
    <h4>Description</h4>
    <p>In stage 3, you identified those who bring about the change you aim to and the people that can influence them. This stage includes the definition of the messages that will be delivered to them.  Having a broad range of solid messages ready to be used is necessary for your advocacy efforts. You can then transmit them in a number of formats (lobby meetings, letters, interviews in the media, etc.</p>
    <p>The UNICEF (2010) Advocacy Toolkit (pg. 45) identifies two types of messages: </p>
    <ul>
      <li>Primary message: the most universally compelling statement to all audiences. It usually combines: Statement + evidence + example + goal+ policy change you want (see pg. 45 for a description of each element)</li>
      <li>Secondary message: a message that is tailored for a particular target audience. It provides further explanation or is used when a particular audience needs a primary message to be reinforced. Secondary messages often explain how the objectives of the primary message will be met, including the actions that should be taken by the audience addressed (asks). </li>
    </ul>
    <p>Communication specialists will craft powerful messages based using the information obtained in the previous stages, the “asks” that you will define at this stage and other relevant information such as the motivation of the audience or the communication channel.</p> 
    <p>You should define “ask” for all the main decision-makers and influencers. They should be clear, concise, solution-focused and tailored for the target audience.</p>
    <hr>
    <h4>Example</h4>
    <table class="table table-bordered">
      <tr>
        <th>Target audience</th>
        <th>Ask</th>
      </tr>
      <tr>
        <td>Minister of Health</td>
        <td>To support the review of the policy framework on HI and recommend extension of coverage for informal workers in the report submitted to the NA by the Government</td>
      </tr>
      <tr>
        <td>Members of Parliament</td>
        <td>To support the review of the policy framework on HI and recommend extension of coverage for informal workers in the report on the 5 year review of the Law<br>
        To invite UNICEF or partners to prepare and deliver report on the issue
        </td>
      </tr>
      <tr>
        <td>Director of the Department</td>
        <td>To publicly advocate for the issue. </td>
      </tr>
      <tr>
        <td>INGO “X”</td>
        <td>To join forces with the UN to use the 5-year review of the Law on HI to advocate for the expansion of the HI coverage to informal workers and their families. </td>
      </tr>
      <tr>
        <td>UN Agencies</td>
        <td>To join forces within UN to use the 5-year review of the Law on HI to advocate for the expansion of the HI coverage to informal workers and their families. </td>
      </tr>
      <tr>
        <td>Neutral media</td>
        <td>To give voice to informal workers who relate their stories regarding the (lack of) access to expensive health services<br>
        To join UN and INGO “X” in a field visit with the option of producing a documentary with the participation of …
        </td>
      </tr>
      <tr>
        <td>Affected groups of people</td>
        <td>To tell their stories to decision makers and the media<br>
        To build their communication skills and knowledge on the issue (offering to participate in workshops to be organized by UN and INGO “X”)
        </td>
      </tr>
    </table>
  </div>
  <div role="tabpanel" class="tab-pane" id="data-entry" ng-controller="step6Ctrl">
    <div class="row">
      <div class="col-md-12">
        <form>
      	  <div class="form-group">
            <label for="target-audience">Target Audience (Actors)</label>
            <select class="form-control" id="target-audience">
              <option>Select Target Audience</option>
              <option>Minister of Health</option>
              <option>Members of Parliament</option>
              <option>Director of the Department</option>
              <option>INGO “X”</option>
              <option>UN Agencies</option>
            </select>
          </div>
          <div class="form-group">
            <label for="ask">Ask</label>
            <textarea class="form-control" rows="3" id="ask" placeholder="Write Ask" ng-model="current_ask.description"></textarea>
          </div>
          <button class="btn btn-default" type="button" ng-click="save_ask"><i class="fa fa-plus-square-o"></i> Add Ask</button>
    	 </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Target Audience</th>
              <th>Ask</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ask in asks">
              <td>Minister of Health</td>
              <td>{{ ask.description }}</td>
              <td class="text-right actions">
                <i class="fa fa-edit" title="Edit" ng-click="edit_ask(ask.id)"></i>
                <i class="fa fa-trash" title="Delete"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
          <button class="btn btn-success" type="button">Save</button> 
          <button class="btn btn-success" type="button">Save & Finish</button>
      </div>
    </div>
  </div>
</div>