<h1>Editing outcome</h1>

<%= render 'form' %>

<%= link_to 'Show', project_objective_outcome_path(@project, @objective, @outcome) %> |
<%= link_to 'Back', project_objective_path(@project, @objective) %>
