body {
  padding: 15px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

a {
  color: #00B7FF;
}

.event-content {
	color:red;
}

/*Paper*/

.paper-scroller > .paper {
  background: #F8F9FA;
}

#paper-container {
  right: 300px;
  left: 300px;
  bottom: 0px;
}

/*Step*/

.element .fobj div {
  text-align: left;
  font-size: 13px;
  float: left;
  width: 200px;
}

.element .fobj div.step-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
}

/*Step halo*/

.halo {
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 0px 6px #0091EA;
  /*border-radius: 40px;*/
}

.halo > div {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}


.halo .box {
  display: none;
}

[data-type="bpmn.Person"] {
  border: none;
}


.halo .handle.nw {
  top: -18px;
  left: -17px;
}

.halo .handle.se {
  bottom: -15px;
  right: -15px;
}

.halo .handle.s {
  bottom: -15px;
  left: 83%;
}

/*halo tiny*/

.halo.tiny {
  border-radius: 30px;
  padding: 0px;
  margin: 0px;
  border: none;
}

.halo.tiny > div {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.halo.tiny .handle.nw {
  top: -15px;
  left: 30px;
}

.halo.tiny .handle.se {
  bottom: 6px;
  right: -26px;
}

.halo.tiny .handle.s {
  bottom: -16px;
  left: 34px;
}

/*Halo small*/

.halo.small {
  border-radius: 30px;
  padding: 0px;
  margin: 1px;
  border: none;
}

.halo.small > div {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
}

.halo.small .handle.nw {
  top: -12px;
  left: 51px;
}

.halo.small .handle.se {
  bottom: 15px;
  right: -29px;
}

.halo.small .handle.s {
  bottom: -12px;
  margin-left: 5px;
}


/*Halo icons*/

.halo .link {
  background-image: url(https://googledrive.com/host/0B6QQVPLH_F8Xck14OEtVN0dTYXM/arrow-right.svg);
}

.halo .remove {
  background-image: url(https://googledrive.com/host/0B6QQVPLH_F8Xck14OEtVN0dTYXM/delete.svg);
}

.halo .fork {
  background-image: url(https://googledrive.com/host/0B6QQVPLH_F8Xck14OEtVN0dTYXM/copy.svg);
}

.halo .link:hover {
  background-image: url(https://googledrive.com/host/0B6QQVPLH_F8Xck14OEtVN0dTYXM/arrow-right-h.svg);
}

.halo .remove:hover {
  background-image: url(https://googledrive.com/host/0B6QQVPLH_F8Xck14OEtVN0dTYXM/delete-h.svg);
}

.halo .fork:hover {
  background-image: url(https://googledrive.com/host/0B6QQVPLH_F8Xck14OEtVN0dTYXM/copy-h.svg);
}

/*Sidebar*/

.sidebar {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 100%;
  width: 300px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
  background: #F2F2F2;
}

.stencil {
  border-top: none;
}

#fileName {
  position: relative;
  border: 1px solid #FFF;
  border-radius: 0px;
  color: #666;
  top: 0%;
  width: 90%;
  text-align: left;
  outline: none;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

#stencil-container {
  width: 100%;
  position: relative;
  float: left;
}

#toolbar-container {
  position: relative;
  width: 100%;
  float: left;
  background: transparent;
  border: none;
  padding: 0;
  height: 80px;
}

#toolbar-container button {
  width: 30px;
  height: 40px;
  border: none;
  color: #4A4A4A;
  font-weight: 300;
  background: transparent;
}

#toolbar-container button:active, #toolbar-container button:hover {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
color: #BD10E0;
}

.stencil .elements {
  background: rgb(255, 255, 255);
}

.stencil-trigger {
  position: absolute;
  left: 300px;
  width: 40px;
  background: #F2F2F2;
  height: 55px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
}

.stencil-trigger i {
  margin-top: 2px;
}

/*Inspector*/

#inspector-container {
  background: #F2F2F2;
  width: 300px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.inspector input, .inspector textarea {
  border: none;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 3%;
  width: 93%;
}

.inspector input[type=text] {
  width: 93%;
  min-height: 35px;
}

.inspector input, .inspector .toggle, .inspector select, .inspector .list-item .btn-list-del {
  float: none;
}

.inspector textarea {
  min-height: 210px;
}

.inspector-trigger {
  position: absolute;
  right: 0;
  width: 340px;
  background: #F2F2F2;
  height: 55px;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.inspector-trigger i {
  margin-top: 2px;
}

/*Tooltip*/

.joint-tooltip {
   position: fixed;
   z-index: 100;
   border-radius: 5px;
   background-color: #333;
   border: 2px solid rgb(36, 36, 36);
   color: #bcbcbc;
   pointer-events: none;
   padding: 10px;
   font-size: 14px;
   text-shadow: 0 -1px 0 #000;
}
.joint-tooltip.small {
   padding: 5px;
   font-size: 10px;
}
.joint-tooltip:after, .joint-tooltip:before {
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}
.joint-tooltip.left:after, .joint-tooltip.left:before {
   right: 100%;
   top: 50%;
}
.joint-tooltip.right:after, .joint-tooltip.right:before {
   top: 50%;
   left: 100%;
}
.joint-tooltip.top:after, .joint-tooltip.top:before {
   left: 50%;
   bottom: 100%;
}
.joint-tooltip.bottom:after, .joint-tooltip.bottom:before {
   left: 50%;
   top: 100%;
}

.joint-tooltip:after {
   border-width: 6px;
}
.joint-tooltip.left:after {
   border-right-color: #333;
   margin-top: -6px;
}
.joint-tooltip.right:after {
   border-left-color: #333;
   margin-top: -6px;
}
.joint-tooltip.top:after {
   border-bottom-color: #333;
   margin-left: -6px;
}
.joint-tooltip.bottom:after {
   border-top-color: #333;
   margin-left: -6px;
}

.joint-tooltip:before {
   border-width: 8px;
}
.joint-tooltip.left:before {
   border-right-color: rgb(36, 36, 36);
   margin-top: -8px;
}
.joint-tooltip.right:before {
   border-left-color: rgb(36, 36, 36);
   margin-top: -8px;
}
.joint-tooltip.top:before {
   border-bottom-color: rgb(36, 36, 36);
   margin-left: -8px;
}
.joint-tooltip.bottom:before {
   border-top-color: rgb(36, 36, 36);
   margin-left: -8px;
}

.joint-tooltip {
  max-width: 800px;
  background: #FFFBF6;
  border: none;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.22);
  font-size: 13px;
  padding: 15px 15px 25px;
  border-radius: 0;
}

.joint-tooltip.bottom:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #FFFBF6;
  border-width: 15px;
  margin-left: -15px;
}

.joint-tooltip.top:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFFBF6;
  border-width: 15px;
  margin-left: -15px;
}

.joint-tooltip-strong {
  font-weight: 600;
  font-size: 16px;
}

/*Group*/

.GroupOrganization rect {
  opacity: 0.15;
}

.label {
  font-size: 85%;
  font-weight: 400;
  text-transform: uppercase;
}