@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
  font-family: 'Open Sans', sans-serif;
  color: #7f8c8c;
  background-color: #f3f3f3;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #76c7c0;
}
h2, .h2 {
  font-size: 24px;
}
.btn {
  text-transform: uppercase;
}
.btn-warning {
  background-color: #ff635a;
  border-color: #ff4f4a;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-color: #ff4f4a;
  border-color: #ff635a;
}
.bg_grey {
  background-color: #ececec;
  padding: 10px;
}
.bold {
  font-weight: 700;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default, .menu {
  background-color: #2dc8c2;
  border-color: #2dc8c2;
  border-radius: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-weight: 300;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #31a1a2;
}
.navbar-default .navbar-brand, .brand {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.navbar-default .navbar-brand span, .brand span {
  font-size: 14px;
  font-weight: 300;
}
.top-nav a {
  color: #fff;
  margin-top: 5px;
  font-weight: 300;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #2dc8c2;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #2dc8c2;
}
.breadcrumb {
  padding: 15px;
  font-size: 16px;
  background-color: #ececec;
  text-transform: uppercase;;
}
.breadcrumb a {
  color: #7f8c8c;
}
.breadcrumb_bg {
  background-color: #ececec;
}
.breadcrumb>.active {
  color: #7f8c8c;
}
.breadcrumb>li+li:before {
  content: ">\00a0";
  padding: 0 5px;
  color: #7f8c8c;
}
.main {
  margin-bottom: 30px;
}
footer {
  background-color: #2dc8c2;
  color: #ffffff;
  padding: 40px 0;
  font-size: 12px;
}
footer h5 {
  color: #12867b;
  font-size: 20px;
  font-weight: 600;
}
footer a {
  color: #ffffff;
}
.stage_menu h3 {
  font-size: 16px;
  font-weight: 700;
  color: #7f8c8c;
}
.stage_menu a {
  color: #e2534b;
}
.stage_menu a i {
  color: #62b9b0;
}
.tabpanel {
  margin-top: 30px;
}
.nav-tabs {
  border-bottom: 1px solid #ffffff;
}
.nav-tabs>li>a {
  margin-right: 5px;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  border: 1px solid #62b9b0;
  background-color: #62b9b0;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px 4px 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: 1px solid #ffffff;
  color: #7f8c8c;
  font-weight: 600;
  text-transform: uppercase;
}
.tab-content>.active {
  background-color: #fff;
  padding: 10px;
}