body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.event-content {
	color:red;
}
.stencil-trigger {
	bottom: 25px;
    height: 143px;
    position: absolute;
}

/*Inspector*/

#inspector-container {
  background: #F2F2F2;
}

.inspector-trigger {
    position: absolute;
    right: 0;
    width: 270px;
}

.inspector input, .inspector textarea {
border: none;
border-radius: 0px;
padding: 2px 5px 2px 5px;
font-family: sans-serif;
background: #FFFFFF;
}