body {
  padding: 15px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

a {
  color: #00B7FF;
}

.event-content {
	color:red;
}

/*Paper*/

.paper-scroller > .paper {
  background: #F8F9FA;
}

/*Step*/

.element .fobj div {
  text-align: left;
  font-size: 13px;
  float: left;
  width: 200px;
}

.element .fobj div.step-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
}

/*Inspector*/

#inspector-container {
  background: #F2F2F2;
  width: 300px;
}

.inspector input, .inspector textarea {
  border: none;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 3%;
  width: 93%;
}

.inspector input[type=text] {
  width: 93%;
}

.inspector input, .inspector .toggle, .inspector select, .inspector .list-item .btn-list-del {
  float: none;
}

.inspector textarea {
  min-height: 210px;
}

.inspector-trigger {
  position: absolute;
  right: 0;
  width: 340px;
  background: #F2F2F2;
  height: 70px;
  cursor: pointer;
}

.inspector-trigger::before, .inspector-trigger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.inspector-trigger::before {
  top: 36%;
  left: 5px;
}

.inspector-trigger::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 64%;
  left: 5px;
}

.stencil-trigger {
  bottom: 0;
  height: 190px;
  width: 75px;
  position: absolute;
  background: #F2F2F2;
  cursor: pointer;
}

.stencil-trigger::before, .stencil-trigger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.stencil-trigger::before {
  top: 20px;
  left: 12px;
}

.stencil-trigger::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  right: 12px;
}