html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: #f6f6f6;
}

a {
  color: #BD10E0;
}

a.company-logo{
	font-family: 'Asap', sans-serif;
	color: #fff;
	font-weight: 700;
	padding: 5px 0 0 15px;
	float: left;
	font-size: 24px;
}

span.tagline{
	padding: 17px 0 0 5px;
	color: #E9A75B;
	float: left;
}

.event-content {
	color:red;
}

/*Paper*/

.paper-scroller > .paper {
  background-image: none;
  background-repeat: no-repeat;
  border: none;
}

.paper-scroller{
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  height: 100%;
}
#paper-container {
	width: 100%;
	height: 100%;
	padding: 50px 0 0 0;
}

.FullPage{
	margin: 50px auto 0;
}

/*Step*/

.element .fobj div {
  text-align: left;
  font-size: 13px;
  float: left;
  width: 218px;
  padding: 5px 5px 0 5px;

}

.step-title {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 15px!important;
  margin-top: 10px;
}

.step-date {
  font-size: 10px;
  float: right;
}

.label.step-zoom-in {
  font-weight: 400 !important;
  font-size: 75% !important;
}
.step-title.step-zoom-in {
  font-size: 13px !important;
}
.step-content.step-zoom-in {
  display: initial !important;
}


.label.step-zoom-out {
  font-weight: 600 !important;
  font-size: 100% !important;
}
.step-title.step-zoom-out {
  font-size: 20px !important;
}
.step-content.step-zoom-out {
  display: none !important;
}

/*Step halo*/

.halo {
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 0px 6px #0091EA;
  /*border-radius: 40px;*/
}

.halo > div {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}


.halo .box {
  display: none;
}

[data-type="bpmn.Person"] {
  border: none;
}


.halo .handle.nw {
  top: -18px;
  left: -17px;
}

.halo .handle.se {
  bottom: -15px;
  right: -15px;
}

.halo .handle.s {
  bottom: -15px;
  left: 83%;
}

/*halo tiny*/

.halo.tiny {
  border-radius: 30px;
  padding: 0px;
  margin: 0px;
  border: none;
}

.halo.tiny > div {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.halo.tiny .handle.nw {
  top: -15px;
  left: 30px;
}

.halo.tiny .handle.se {
  bottom: 6px;
  right: -26px;
}

.halo.tiny .handle.s {
  bottom: -16px;
  left: 34px;
}

/*Halo small*/

[data-type="bpmn.Person"].small {
  border-radius: 30px;
}
[data-type="bpmn.Organization"].small {
  border-radius: 30px;
}

.halo.small {
  padding: 0px;
  margin: 0px;
  border: none;
}

.halo.small > div {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
}

.halo.small .handle.nw {
  top: -19px;
  left: 38px;
}

.halo.small .handle.se {
  bottom: 11px;
  right: -29px;
}

.halo.small .handle.s {
  bottom: -16px;
  margin-left: 2px;
}

/*Halo medium*/
[data-type="bpmn.Person"].medium {
  border-radius: 30px;
}

[data-type="bpmn.Organization"].medium {
  border-radius: 30px;
}

.halo.medium {
  padding: 0px;
  margin: 1px;
  border: none;
}

.halo.medium .handle.nw {
  top: -20px;
  left: 48px;
}

.halo.medium .handle.se {
  bottom: 12px;
  right: -37px;
}

.halo.medium .handle.s {
  bottom: -20px;
  left: 105%;
}


/*Halo icons*/

.halo .link {
  background-image: image-url("arrow-right.svg");
}

.halo .remove {
  background-image: image-url("delete.svg");
}

.halo .fork {
  background-image: image-url("copy.svg");
}

.halo .link:hover {
  background-image: image-url("arrow-right-h.svg");
}

.halo .remove:hover {
  background-image: image-url("delete-h.svg");
}

.halo .fork:hover {
  background-image: image-url("copy-h.svg");
}

/*Selection box*/

.selection-box {
  border: 1px dashed #BD10E0;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 0px;
  background-color: rgba(189, 16, 224, 0.08);
  padding: 15px;
}

/*header*/

.navbar-inverse{
	margin: 0;
	position: relative;


}

/*Sidebar*/

.full{
	width: 100%;
	float: left;
}

/*Sidebar*/

.right{
	width: auto;
	height: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
}

.left{
	min-width: 75px;
	height: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
	z-index: 200;
	position: absolute;
	border-right: 1px solid #cecece;
}

.sidebar {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 100%;
  width: 300px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
  top: 50px;
}

.stencil {
  border-top: none;
}

#fileName {
  position: relative;
  border: none;
  border-radius: 0px;
  top: 0%;
  text-align: left;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  color: #FFFFFF;
}

#fileEdit a {
  font-size: 16px;
  color: #FFFFFF;
}

#fileEdit a:hover {
  color: #BD10E0;
}

#stencil-container {
  width: 100%;
  position: relative;
  height: 100%;
}

#toolbar-container {
  position: relative;
  width: 100%;
  background: none;
  border: none;
  padding: 0px 10px;
  height: 32px;
  left: 0;
  top: 0;
}

#toolbar-container button {
  width: 20px;
  height: 30px;
  border: none;
  color: #FFFFFF;
  font-weight: 300;
  background: transparent;
  padding: 0;
  margin: 0 8px 0 0;
}

#toolbar-container button:active, #toolbar-container button:hover {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
color: #F2F2F2;
}

.stencil .elements {
  background: rgb(255, 255, 255);
}

.stencil-trigger {
  position: absolute;
  left: 300px;
  width: 40px;
  background: #F2F2F2;
  height: 55px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
  padding: 14px 9px;
  color: #CFCFCF;
  top: 50px;
}

.stencil-trigger i {
  margin-top: 2px;
}

/*Inspector*/

.inspector{
	height: 100%;
	text-transform: none;
	padding: 60px 0 0 0;
}

.inspector .group {
	overflow: hidden;
	padding: 10px 10px 10px 20px;
}

#inspector-container {
  background: #fff;
  height: 100%;
  border-left: 1px solid #cecece;
  z-index: 100;
  float: right;
}

.clearfix.toolbarName {
  padding: 10px 15px;
  text-align: center;
}

.inspector input, .inspector textarea {
  border: 1px solid #cecece;
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 3%;
  width: 93%;
  box-shadow: none;
}

.inspector input[type=text] {
  width: 93%;
  min-height: 35px;
}

.inspector input, .inspector .toggle, .inspector select, .inspector .list-item .btn-list-del {
  float: none;
  //color: #fff;
  box-shadow: none;
  border:1px solid #cecece;
  border-radius: 3px;
}

.inspector textarea {
  min-height: 210px;
}

.inspector select{
	border:none;
	color: #fff;
}

.inspector-trigger {
  position: absolute;
  right: 0;
  width: 340px;
  background: #F2F2F2;
  height: 55px;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  padding: 15px 12px;
  color: #CFCFCF;
}

.inspector-trigger i {
  margin-top: 2px;
}

.inspector .group > .group-label {
  background: none;
  color: #222;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  font-size: 18px;
  padding: 0 10px;
  box-shadow: none;
  margin-bottom: 0px;

}

.inspector .group > .group-label:before {
  content: none;
}

.inspector label {
  display: inline-block;
  font-weight: bold;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  margin-right: 10px;
}
/*Inspector ViewBar*/

.btnEdit{
	padding: 2px 10px;
	background: #5E869A;
	float: right;
	margin-right: 10px;
	color: #fff;
}

/*Labels*/

.label-default {
  background-color: #CACACA;
}

.label-warning {
  background-color: #F5A623;
}

.label-primary {
background-color: #0091EA;
}

.label-success {
background-color: #50E3C2;
}

.label-danger {
background-color: #F55923;
}

/*Arrow*/

.content-arrow {
  fill: #4A90E2;
}

/*Alert*/


#sidebar-left .alert {
  float: right;
  margin: 0;
  padding: 4px 0;
}

.alert {
  display: none;
  font-size: 10px;
  text-transform: uppercase;
  background: #98E22D;
  color: #fff;
  width: 100%;
  position: absolute;
  z-index: 2000;
  text-align: center;
  opacity: 0.7;
  border-radius: 0!important;
  padding: 5px;
}

#sidebar-left  .alertSuccess {
  color: #50E3C2;
}

#sidebar-left  .alertError {
  color: #F58D23;
}

/*Tooltip*/

.joint-tooltip {
   position: fixed;
   z-index: 100;
   pointer-events: none;
   padding: 10px;
}

.joint-tooltip.small {
   padding: 5px;
   font-size: 10px;
}
.joint-tooltip:after, .joint-tooltip:before {
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}
.joint-tooltip.left:after, .joint-tooltip.left:before {
   right: 100%;
   top: 50%;
}
.joint-tooltip.right:after, .joint-tooltip.right:before {
   top: 50%;
   left: 100%;
}
.joint-tooltip.top:after, .joint-tooltip.top:before {
   left: 50%;
   bottom: 100%;
}
.joint-tooltip.bottom:after, .joint-tooltip.bottom:before {
   left: 50%;
   top: 100%;
}

.joint-tooltip:after {
   border-width: 6px;
}
.joint-tooltip.left:after {
   border-right-color: #333;
   margin-top: -6px;
}
.joint-tooltip.right:after {
   border-left-color: #333;
   margin-top: -6px;
}
.joint-tooltip.top:after {
   border-bottom-color: #333;
   margin-left: -6px;
}
.joint-tooltip.bottom:after {
   border-top-color: #333;
   margin-left: -6px;
}

.joint-tooltip:before {
   border-width: 8px;
}
.joint-tooltip.left:before {
   border-right-color: rgb(36, 36, 36);
   margin-top: -8px;
}
.joint-tooltip.right:before {
   border-left-color: rgb(36, 36, 36);
   margin-top: -8px;
}
.joint-tooltip.top:before {
   border-bottom-color: rgb(36, 36, 36);
   margin-left: -8px;
}
.joint-tooltip.bottom:before {
   border-top-color: rgb(36, 36, 36);
   margin-left: -8px;
}

.joint-tooltip {
  max-width: 800px;
  background: #4A4A4A;
  color: #FFFFFF;
  border: none;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.22);
  font-size: 13px;
  padding: 15px 15px 25px;
  border-radius: 0;
}

.joint-tooltip.bottom:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #4A4A4A;
  border-width: 15px;
  margin-left: -15px;
}

.joint-tooltip.top:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #4A4A4A;
  border-width: 15px;
  margin-left: -15px;
}

.joint-tooltip-strong {
  font-weight: 600;
  font-size: 18px;
}

/*Group*/

.GroupOrganization rect {
  opacity: 0.1;
}

.label {
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.3em .6em .3em;
}

.form-actions{
	margin: 10px 0;
}

.control-group{
	margin: 20px 0;
}

/*Person*/

.user-label, .user-label-small {
  font-size: 12px;
}

.user-label-medium {
  font-size: 16px;
  font-weight: 300;
}

.user-label-large {
  font-size: 18px;
  font-weight: 300;
}

.person-name {
  font-size: 60%;
}

.person-position {
  font-size: 60%;
}

.nav{
	float: left;
	padding: 10px 0 0 20px;
}

.edit{
	background: none;

}

.dropdown-toggle{
	background: none;
	color: #fff;
}

.dropdown-toggle:hover{
	background: none!important;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background: none!important;
}

.nav>li>a{
	padding: 6px 15px;
}

.ContentBar-tags{
	margin: 20px;
}

.ContentBar-title, .ContentBar-name{
	font-size: 20px;
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bold;
}

.ContentBar-content, .ContentBar-description{
	padding: 20px;
}

.ContentBar-date{
	top: 3px;
	position: absolute;
	right: 70px;
}

.ContentBar-pos {
	font-size: 18px;
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bold;
	color: #0091EA;
}

/* -------------------- Clearfix -------------------- */

.clearfix {
	overflow: hidden;
}

* html .clearfix {
	height: 1%;
}
