@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600,700,300);

body {
  font-family: 'Open Sans', sans-serif;
  color: #575757;
  background-color: #f3f3f3;
  font-weight: 300;
}
body.home {
  background-color: #ffffff;
}
.row, section {
  margin-left: 15px;
  margin-right: 15px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #575757;
  font-weight: 300;
}
h2, .h2 {
  font-size: 36px;
}

input, button, select, textarea {
  font-family: 'Open Sans', sans-serif;
  color: #7f8c8c;
}
select {
  padding: 5px;
}
table .fa-pencil-square-o, table .fa-trash, table .fa-line-chart, table .fa-calendar {
  color: #0091EA;
  cursor: pointer;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}

/*BUTTONS */

.btn {
  border-radius: 15px;
  font-weight: 300;
}
.btn-warning {
  background-color: #FF6459;
  border-color: #FF6459;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-color: #D32114;
  border-color: #D32114;
}
.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus, .open>.btn-warning.dropdown-toggle:hover, .open>.btn-warning.dropdown-toggle:focus, .open>.btn-warning.dropdown-toggle.focus {
    color: #FFF;
    background-color: #D32114;
    border-color: #D32114;
}
.btn-default {
    border-radius: 15px;
    background-color: #0091ea;
    border-color: #0091ea;
    color: #ffffff;
    text-transform: none;
}
.btn-default:hover{
    border-radius: 15px;
    background-color: #06649D;
    border-color: #06649D;
    color: #ffffff;
    text-transform: none;
}
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open>.btn-default.dropdown-toggle:hover, .open>.btn-default.dropdown-toggle:focus, .open>.btn-default.dropdown-toggle.focus {
    color: #ffffff;
    background-color: #06649D;
    border-color: #06649D;
}
.btn-info {
  background-color: #26cccc;
  border-color: #00bdc8;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-color: #00bdc8;
  border-color: #26cccc;
}
.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open>.btn-success.dropdown-toggle:hover, .open>.btn-success.dropdown-toggle:focus, .open>.btn-success.dropdown-toggle.focus {
    color: #FFF;
    background-color: #398439;
    border-color: #398439;
}
.btn-default:active, .btn-default.active, .open>.btn-default.dropdown-toggle {
    color: #ffffff;
    background-color: #01598F;
    border-color: #01598F;
}
.bg_grey table {
  background-color: #ffffff;
  margin-top: 40px;
}
.bg_grey table a {
  color: #e2534b;
}
.bg_grey table th, table th {
  font-weight: 300;
  font-size: 15px;
  color: #575757;
}

.bg_grey .btn.pull-right {
  margin-left: 10px;
  margin-top: 5px;
}
.bg_grey .btn-warning.pull-left {
  margin-right: 10px;
}
.bg_grey .label {
  display: inline-block;
}
.bg_grey .label-info {
  background-color: #F58982;
}
.bg_grey .label-info.active {
  background-color: #ff4f4a;
}

.btn-primary {
    background-color: #0091EA;
    border-color: rgba(46, 109, 164, 0);
}

.btn-primary:hover {
    background-color: #007DCA;
    border-color: rgba(46, 109, 164, 0);
}

/*TOOLTIP*/

.tooltip-inner {
  padding: 20px;
}

label {
    font-weight: 300;
}
.radio label, .checkbox label {
    font-weight: 300;
}
.alert-info {
  background-color: #00C2E4;
  border-color: #00C2E4;
  color: #fff;
  margin: 30px 0;
}
.alert-info a {
  color: #fff;
}
.mb50 {
  margin-bottom: 50px;
}
.bold {
  font-weight: 300;
    font-size: 16px;
    color: #575757;
}
.nowrap {
  white-space:nowrap;
}
.table {
  background-color: #ffffff;
}
table a {
  color: #0091EA;
}
.table > thead > tr > th {
    border-bottom: 2px solid #F3F3F3;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    border-top: 1px solid #F3F3F3;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default, .menu {
  background-color: #021b2d;
  border-color: #021b2d;
  border-radius: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-weight: 300;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #0276BD;
}
.navbar-default .navbar-brand, .brand {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.navbar-brand > img{
  margin: -7px 0 0 0;
}
.navbar-default .navbar-brand span, .brand span{
  font-size: 16px;
  font-weight: 600;
  position: relative;
  left: 221px;
  top: -25px;
  text-transform: uppercase;
}
.top-nav a {
  color: #fff;
  margin-top: 5px;
  font-weight: 300;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #0276BD;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #0276BD;
}
.nav.nav-stacked > li > a:hover, .nav > li > a:focus {
  background-color: #0276BD;
  text-decoration: underline;
}
.breadcrumb {
  font-size: 14px;
  background-color: #e5e5e5;
  color: #00A4EE;
  font-weight: 300;
}
.breadcrumb a {
  color: #B7B7B7;
}
.breadcrumb_bg {
  background-color: #e5e5e5;
}
.breadcrumb>.active {
  color: #7f8c8c;
}
.breadcrumb>li+li:before {
  content: ">\00a0";
  padding: 0 5px;
  color: #B7B7B7;
}
.main {
  margin-bottom: 30px;
}
footer {
  background-color: #021b2d;
  color: #ffffff;
  padding: 40px 0;
  font-size: 12px;
}
footer h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
footer a {
  color: #ffffff;
}
.stage_menu h3 {
  font-size: 16px;
  font-weight: 600;
  color: #7f8c8c;
}
.stage_menu a {
  color: #e2534b;
}
.stage_menu a i {
  color: #62b9b0;
}
.tabpanel {
  margin-top: 30px;
}
.nav-tabs {
  border-bottom: 1px solid #ffffff;
}
.nav-tabs>li>a {
  margin-right: 5px;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  border: 1px solid #0091ea;
  background-color: #0091ea;
  color: #ffffff;
  font-weight: 300;
  border-radius: 4px 4px 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: 1px solid #ffffff;
  color: #7f8c8c;
  font-weight: 300;
}
.tab-content>.active {
  background-color: #fff;
  padding: 10px;
}
div.steps table {
    margin-bottom: 0;
}
h4.panel-title a, .table_goals a {
  font-weight: 300;
  color: #ffffff;
}
h4.title_goals {
  font-weight: 300;
  color: #859292;
  margin-bottom: 30px;
}
h4.panel-title {
  padding: 5px;
}
.collapse.in {
  background-color: #FFF;
  padding: 10px 10px 0px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.collapse h4.regular {
  font-weight: 500px;
}
.panel-default > .panel-heading {
    color: #FFF;
    background-color: #7D7D7D;
    border-color: #7D7D7D;
}
.panel-heading .fa-check-circle {
  color: #26a65b;
}
.panel-heading .fa-times-circle {
  color: #ff0000;
}
.table_goals .fa-chevron-circle-right {
  color: #f89406;
}
.td-w-10p {
  width: 10%;
}
.td-w-10p .fa-lock {
  color: #7D7D7D;
}

.td-w-3p {
  width: 20px;
  vertical-align: text-top;
  padding-top: 3px;
}
.tab-content {
  margin-bottom: 30px;
}
table th.sorting_desc {
  background: image-url("sort_desc.png") no-repeat center right;
}
table th.sorting_asc {
  background: image-url("sort_asc.png") no-repeat center right;
}
table th.sorting {
  background: image-url("sort_both.png") no-repeat center right;
}
#resources_filter {
  margin-top: -30px;
}
#resources_filter input[type="search"] {
  -webkit-appearance: none;
  margin-left: 15px;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-weight: 400;
}
#resources_info {
  display: none;
}
.dataTable {
  margin-top: 20px;
}
div#resources_paginate {
  border: 1px solid #ddd;
  border-radius: 4px;
  float: left;
}
#resources_paginate>a, #resources_paginate>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin: -1px -2px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
#resources_paginate>.disabled, #resources_paginate>.disabled:focus, #resources_paginate>.disabled:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
#resources_paginate>span {
  background-color: #2dc8c2;
  border-color: #2dc8c2;
}
#resources_paginate>span a {
  color: #ffffff;
}
.objetives {
  background-color: #ececec;
  padding: 15px 15px 0px 15px;
}
.objetives .panel-heading {
  margin: -15px -15px 0;
}
.objetives table, .well table {
  background-color: #ffffff;
  margin-top: 40px;
}
.objetives table a {
  color: #e2534b;
}
.btn.pull-right {
  margin-left: 5px;
}
.modal-footer .btn-primary {
  background-color: #FF6459;
  border-color: #FF6459;
  font-weight: 300;
}
.modal-footer .btn-primary:hover {
  background-color: #D32114;
  border-color: #D32114;
}
.btn-primary:active:focus {
  background-color: #D32114;
  border-color: #D32114;
}
.modal-footer .btn-warning {
  color: #ffffff;
  background-color: #0091ea;
  border-color: #0091ea;
  font-weight: 300;
}
.modal-footer .btn-warning:hover {
  background-color: #06649D;
  border-color: #06649D;
}
.modal-footer .btn-warning:active:focus {
  background-color: #06649D;
  border-color: #06649D;
}
.modal-header {
  border-bottom: none;
  margin-top: 30px;
}
.modal-body input[type="checkbox"] {
  /*margin: 4px 0 0;*/
  margin-top: 1px \9;
  line-height: normal;
  width: initial;
  height: initial;
}
.modal-body select {
  padding: 5px;
  display: block;
  width: 100%;
}
.dropdown-menu.dropdown-menu-button {
  padding: 10px;
  min-width: 228px;
}
.dropdown-menu {
  right: 0;
  left: auto;
}
.benefits{
  padding: 50px 0;
  text-align: center;
  background-color: #00C2E4;
  height: 650px;
}
.benefits p {
  color: #ffffff;
}
.benefits h2 {
  color: #ffffff;
}

.benefits img {
  height: 190px;
}
.row.benefits{
  margin: 0px 0 -270px 0;
}
.benefits .btn-danger, .banner .btn-danger {
    border-radius: 15px;
    background-color: #FF6459;
    border-color: #FF6459;
    color: #ffffff;
    text-transform: none;
}
.btn-danger:focus, .btn-danger.focus {
    color: #FFF;
    background-color: #eb0f4a;
    border-color: #eb0f4a;
}
.benefits .btn-default:focus, .benefits .btn-default.focus {
    border-radius: 15px;
    background-color: #01598F;
    border-color: #01598F;
    color: #ffffff;
    text-transform: none;
}

.testimonial {
  background-color: #021b2d;
  font-weight: 300;
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonial p.cita {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  margin-bottom: 5px;
  margin: 50px 0 5px 0;
}
.testimonial p.persona {
  font-size: 16px;
  font-weight: 700;
  color: #FF6459;
  margin-top: 0;
}
.testimonial .t2 {
  background-color: #00C2E4;
}
.testimonial td {
  width: 50%;
  overflow: hidden;
  color: #ffffff;
}
.testimonial img {
  width: 90%;
}
.testimonial .row {
  margin-bottom: 20px;
}
.organizations h2 {
  color: #ffffff;
}
.organizations{
  padding: 50px 0;
  text-align: center;
  background-color: #00C2E4;
  height: 500px;
}
.col-md-12.logos{
  position: relative;
}
img.logos{
  display: -webkit-inline-box;
  vertical-align: middle;
  margin: 6%;
}
.banner {
  background: image-url("welcome.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  padding: 50px 0;
  margin: -5px 0;
  background-color: #021b2d;
  height: 700px;
}
.banner .container {
  padding: 80px 0;
}
.banner .container h2, .banner .container h3 {
  color: #ffffff;
}
.ng-aside .modal-dialog .modal-content {
    background-color: #F3F3F3;
}
.ng-aside .modal-dialog .modal-content .form-control {
  border: none;
}
.ng-aside .modal-dialog .modal-content h3 {
  color: #575757;
}
.contenedor {
    padding: 20px 10px 10px 10px;
    /*border: 1px solid #575757;*/
    margin-bottom: 20px;
    margin-top: -20px;
    background-color: #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#policy-problems {
  margin-bottom: -20px;
}
.bg_grey {
  background-color: #575757;
  color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 10px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.bg_grey h4 {
  color: #ffffff;
}
.bg_grey h4 i {
  font-size: 28px;
  vertical-align: middle;
  color: #666666;
  margin-right: 15px;
}
#policy-problems .bg_grey {
  background-color: #575757;
  color: #ffffff;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#policy-problems .bg_grey h4 {
  color: #ffffff;
}
.successful {
  color: #3c763d;
}
.neutral {
  color: #EAB751;
}
.failed {
  color: #a94442;
}
.well .fa-ul {
    margin-left: 1.4em;
    margin-top: 2em;
}
.ct-perfect-fourth {
    overflow: hidden;
    height: 300px;
}
table.indicator {
  background-color: transparent;
  margin-top: 0;
}
table.indicator td {
  vertical-align: baseline;
}
table.indicator td:first-child {
  font-size: 2.143em;
  padding-right: 20px;
}


/*Project*/

.project-hero {
    margin: -1px -0px 30px -0px;
    padding: 20px;
    background: #00c2e4 url(/assets/project-hero01.png) no-repeat bottom right;
    color: #fff;
    min-height: 210px;
    border-radius: 0px 6px 0px 0px;
}

.project-hero02 {
    margin: -1px -0px 30px -0px;
    padding: 20px;
    background: #00C2E4 url(/assets/project-hero02.png) no-repeat bottom right;
    color: #fff;
    min-height: 210px;
    border-radius: 0px 6px 0px 0px;
}

@media all and (min-width: 993px) {
  .project-hero h2, .project-hero p, .project-hero02 h2, .project-hero02 p {
    width: 80%;
  }
  .navbar-nav {
    margin-left: 60px;
  }
  .navbar-nav .dropdown .btn-default {
    margin-top: 10px;
  }
}
@media all and (max-width: 992px) {
  .project-hero, .project-hero02 {
    background: #63c0d6;
  }
  .collapse.in {
    background-color: #021b2d;
    padding-bottom: 0;
  }
  .navbar-default .navbar-collapse {
    border: 0;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #06649D;
  }
}
.project-hero h2, .project-hero02 h2 {
    color: #fff;
}

.project-hero2 {
    margin: -1px -0px 0px -0px;
    padding: 20px;
    background-color: #63c0d6;
    color: #fff;
    min-height: 210px;
    border-radius: 0px 6px 0px 0px;
}

.project-hero2 h2 {
    color: #fff;
}

.separator {
    border-top: 1px solid #F3F3F3;
    padding: 10px 0;
    margin-top: 30px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #00c2e4;
  color: #ffffff;
  background-color: #00c2e4;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFFFFF;
    text-decoration: underline;
}

.tab-content > .active {
    background-color: transparent;
    padding: 0px;
}

.box {
    padding: 20px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.box:first-child {
    margin-top: -30px;
    border-radius: 0px 0px 6px 6px;
}

.blue {
  font-weight: 800;
  color: #00A4EE;
}

.panel-heading {
    padding: 20px 20px 20px 20px;
}

.panel-default > .panel-heading {
    background-color: #575757;
    border-color: #575757;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.panel-heading h4 {
    margin-bottom: 0px;
}

.panel-title .fa {
    background-color: #666;
    padding: 7px;
    border-radius: 15px;
}

.panel-title .fa-check {
    color: #00C2E4;
}
.panel-default h4 {
  margin: 15px;
}
.panel-default h4.panel-title {
  margin: 0;
}
.panel-title .fa-times, .panel-default h4 .fa-times-circle {
    color: #FF6459;
}

.panel-default {
    border-color: rgba(255, 255, 255, 0);
}
.panel-default p {
   margin: 15px;
}

.panel {
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-info > .panel-heading {
    color: #FFFFFF;
    background-color: #7D7D7D;
    border-color: rgba(255, 255, 255, 0);
    margin: -20px -20px 20px -20px;
}

.panel-info {
    border-color: rgba(255, 255, 255, 0);
    background-color: #F3F3F3;
    padding: 20px;
}

.panel-info .table {
    background-color: #fff;
    border-radius: 6px;
}

.addNew.dropdown.pull-right {
    margin-bottom: 10px;
}
table.document .label-info {
  margin-right: 5px;
}
table.document td .btn {
    border-radius: 0;
    font-weight: normal;
    padding: 0;
}

/* Colores Graficos*/

.ct-perfect-fourth .ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: green;
  /* Control the thikness of your lines */
  stroke-width: 3px;
}
.ct-perfect-fourth .ct-series-a .ct-point {
  /* Colour of your points */
  stroke: green;
  /* Size of your points */
  stroke-width: 10px;
}
.ct-perfect-fourth .ct-series-a .ct-area {
    fill: green;
}
.ct-perfect-fourth .ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: #EAB751;
  /* Control the thikness of your lines */
  stroke-width: 3px;
}
.ct-perfect-fourth .ct-series-b .ct-point {
  /* Colour of your points */
  stroke: #EAB751;
  /* Size of your points */
  stroke-width: 10px;
}
.ct-perfect-fourth .ct-series-b .ct-area {
    fill: #EAB751;
}
.ct-perfect-fourth .ct-series-c .ct-line {
  /* Set the colour of this series line */
  stroke: red;
  /* Control the thikness of your lines */
  stroke-width: 3px;
}
.ct-perfect-fourth .ct-series-c .ct-point {
  /* Colour of your points */
  stroke: red;
  /* Size of your points */
  stroke-width: 10px;
}
.ct-perfect-fourth .ct-series-c .ct-area {
    fill: red;
}
.red {
  color: #ff0000;
}
.clndr {
  max-width: initial;
}

@media screen and (max-width: 991px) {
  .benefits{
    height: 800px;
  }
  .benefits img {
    height: 150px;
    margin-top: 30px;
  }
  .testimonial img {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  h2, .h2 {
    font-size: 30px;
  }
  .benefits{
    height: 1250px;
  }
}

@media screen and (max-width: 767px) {
  .testimonial img {
    width: 30%;
  }
  .testimonial p.cita{
    margin: 20px 100px 5px 125px;
  }
  .testimonial p.persona{
    margin: 0 0 25px 125px;
  }
}

@media screen and (max-width: 640px) {
.row.benefits{
  margin: -40px 0 -210px 0;
}
  .testimonial img {
    width: 40%;
  }
  .testimonial p.cita{
    margin: 20px 0 5px 0;
  }
  .testimonial p.persona{
    margin: 0 0 25px 0;
  }
}