@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
  font-family: 'Open Sans', sans-serif;
  color: #7f8c8c;
  background-color: #f3f3f3;
  font-weight: 300;
}
body.home {
  background-color: #ffffff;
}
.row, section {
  margin-left: 15px;
  margin-right: 15px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #575757;
  font-weight: 300;
}
h2, .h2 {
  font-size: 36px;
}
.tab-pane li {
  margin-bottom: 15px;
}
input, button, select, textarea {
  font-family: 'Open Sans', sans-serif;
  color: #7f8c8c;
}
select {
  padding: 5px;
}
.btn {
  border-radius: 15px;
  font-weight: 300;
}
.btn-warning {
  background-color: #ff635a;
  border-color: #ff4f4a;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-color: #ff4f4a;
  border-color: #ff635a;
}

.btn-info {
  background-color: #26cccc;
  border-color: #00bdc8;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-color: #00bdc8;
  border-color: #26cccc;
}

.bg_grey {
  background-color: #ececec;
  padding: 10px;
  margin-bottom: 20px;
}
.bg_grey table {
  background-color: #ffffff;
  margin-top: 40px;
}
.bg_grey table a {
  color: #e2534b;
}
.bg_grey table th, table th {
  font-weight: 300;
  font-size: 15px;
  color: #575757;
}
.bg_grey table td, table td {
  font-weight: 300;
  color: #7D7D7D;
}
.bg_grey .btn-warning.pull-right {
  margin-left: 10px;
}
.bg_grey .btn-warning.pull-left {
  margin-right: 10px;
}
.bg_grey .label {
  display: inline-block;
}
.bg_grey .label-info {
  background-color: #F58982;
}
.bg_grey .label-info.active {
  background-color: #ff4f4a;
}
label {
    font-weight: 300;
}
.radio label, .checkbox label {
    font-weight: 300;
}
.alert-info {
  background-color: #0091EA;
  border-color: #0091EA;
  color: #fff;
  margin: 30px 0;
}
.alert-info a {
  color: #fff;
}
.mb50 {
  margin-bottom: 50px;
}
.bold {
  font-weight: 300;
    font-size: 16px;
    color: #575757;
}
.nowrap {
  white-space:nowrap;
}
table a {
  color: #0091EA;
}
.table > thead > tr > th {
    border-bottom: 2px solid #F3F3F3;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    border-top: 1px solid #F3F3F3;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default, .menu {
  background-color: #0091EA;
  border-color: #0091EA;
  border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-weight: 300;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #0276BD;
}
.navbar-default .navbar-brand, .brand {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.navbar-default .navbar-brand span, .brand span {
  font-size: 14px;
  font-weight: 300;
}
.top-nav a {
  color: #fff;
  margin-top: 5px;
  font-weight: 300;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #0276BD;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #0276BD;
}
.nav.nav-stacked > li > a:hover, .nav > li > a:focus {
  background-color: #0276BD;
  text-decoration: underline;
}
.breadcrumb {
  font-size: 14px;
  background-color: #e5e5e5;
  color: #00A4EE;
  font-weight: 300;
}
.breadcrumb a {
  color: #B7B7B7;
}
.breadcrumb_bg {
  background-color: #e5e5e5;
}
.breadcrumb>.active {
  color: #7f8c8c;
}
.breadcrumb>li+li:before {
  content: ">\00a0";
  padding: 0 5px;
  color: #B7B7B7;
}
.main {
  margin-bottom: 30px;
}
footer {
  background-color: #00385A;
  color: #ffffff;
  padding: 40px 0;
  font-size: 12px;
}
footer h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
footer a {
  color: #ffffff;
}
.stage_menu h3 {
  font-size: 16px;
  font-weight: 600;
  color: #7f8c8c;
}
.stage_menu a {
  color: #e2534b;
}
.stage_menu a i {
  color: #62b9b0;
}
.tabpanel {
  margin-top: 30px;
}
.nav-tabs {
  border-bottom: 1px solid #ffffff;
}
.nav-tabs>li>a {
  margin-right: 5px;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  border: 1px solid #0091ea;
  background-color: #0091ea;
  color: #ffffff;
  font-weight: 300;
  border-radius: 4px 4px 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: 1px solid #ffffff;
  color: #7f8c8c;
  font-weight: 300;
}
.tab-content>.active {
  background-color: #fff;
  padding: 10px;
}
div.steps table {
    margin-bottom: 0;
}
div.steps table a {
    color: #e2534b;
}
h4.panel-title a, .table_goals a {
  font-weight: 300;
  color: #ffffff;
}
h4.title_goals {
  font-weight: 300;
  color: #859292;
  margin-bottom: 30px;
}
h4.panel-title {
  padding: 5px;
}
.collapse.in {
  background-color: #FFF;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.regular {
  font-weight: 500px;
}
.panel-default > .panel-heading {
    color: #FFF;
    background-color: #7D7D7D;
    border-color: #7D7D7D;
}
.panel-heading .fa-check-circle {
  color: #26a65b;
}
.panel-heading .fa-times-circle {
  color: #ff0000;
}
.table_goals .fa-chevron-circle-right {
  color: #f89406;
}
.td-w-10p {
  width: 10%;
}
.td-w-10p .fa-unlock, .td-w-10p .fa-unlock-alt, .td-w-10p .fa-lock {
  color: #62b9b0;
}
.td-w-3p {
  width: 20px;
  vertical-align: text-top;
  padding-top: 3px;
}
.tab-content {
  margin-bottom: 30px;
}
table th.sorting_desc {
  background: image-url("sort_desc.png") no-repeat center right;
}
table th.sorting_asc {
  background: image-url("sort_asc.png") no-repeat center right;
}
table th.sorting {
  background: image-url("sort_both.png") no-repeat center right;
}
#resources_filter {
  margin-top: -30px;
}
#resources_filter input[type="search"] {
  -webkit-appearance: none;
  margin-left: 15px;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-weight: 400;
}
#resources_info {
  display: none;
}
.dataTable {
  margin-top: 20px;
}
div#resources_paginate {
  border: 1px solid #ddd;
  border-radius: 4px;
  float: left;
}
#resources_paginate>a, #resources_paginate>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin: -1px -2px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
#resources_paginate>.disabled, #resources_paginate>.disabled:focus, #resources_paginate>.disabled:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
#resources_paginate>span {
  background-color: #2dc8c2;
  border-color: #2dc8c2;
}
#resources_paginate>span a {
  color: #ffffff;
}
.objetives {
  background-color: #ececec;
  padding: 15px 15px 0px 15px;
}
.objetives .panel-heading {
  margin: -15px -15px 0;
}
.objetives table {
  background-color: #ffffff;
  margin-top: 40px;
}
.objetives table a {
  color: #e2534b;
}
.btn.pull-right {
  margin-left: 5px;
}
.modal-footer .btn-primary {
  background-color: #FF635A;
  border-color: #FF635A;
  font-weight: 300;
}
.modal-footer .btn-warning {
  color: #ffffff;
  background-color: #0091EA;
  border-color: #0091EA;
  font-weight: 300;
}
.modal-header {
  border-bottom: none;
  margin-top: 30px;
}
.modal-body input[type="checkbox"] {
  /*margin: 4px 0 0;*/
  margin-top: 1px \9;
  line-height: normal;
  width: initial;
  height: initial;
}
.modal-body select {
  padding: 5px;
  display: block;
  width: 100%;
}
table .fa-pencil-square-o, table .fa-trash, table .fa-gears, table .fa-edit, table .fa-eye {
  cursor: pointer;
  color: #0091EA;
}
table .fa-star, table .fa-check {
  color: #0091EA;
}
.dropdown-menu.dropdown-menu-button {
  padding: 10px;
  min-width: 228px;
}
.dropdown-menu {
  right: 0;
  left: auto;
}
.benefits{
  margin: 50px 0;
  text-align: center;
}
.benefits p {
  color: #436B83;
}
.benefits .btn-danger, .banner .btn-danger {
    border-radius: 15px;
    background-color: #FF635A;
    border-color: #FF4F4A;
    color: #ffffff;
    text-transform: none;
}
.benefits .btn-default {
    border-radius: 15px;
    background-color: #CDCDCD;
    border-color: #CDCDCD;
    color: #ffffff;
    text-transform: none;
}
.testimonial {
  color: #ffffff;
  background-color: #0091EA;
  font-weight: 300;
}
.testimonial p.cita {
  font-size: 26px;
}
.testimonial .t2 {
  background-color: #00C2E4;
}
.testimonial td {
  width: 50%;
  overflow: hidden;
  color: #ffffff;
}
.testimonial p {
  margin: 20px;
}
.testimonial img {
  width: 100%;
}
.banner {
  background: image-url("banner.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0;
  margin: -15px 0;
}
.banner .container {
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background: rgba(255, 255, 255, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)";
}
.banner .container {
  padding: 40px 0;
}
.ng-aside .modal-dialog .modal-content {
    background-color: #F3F3F3;
}
.ng-aside .modal-dialog .modal-content .form-control {
  border: none;
}
.ng-aside .modal-dialog .modal-content h3 {
  color: #575757;
}