        <title><%= @sandbox.name %></title>
    
        <div id="paper-container"></div>
          
        <div id="btn-sidebar-left" class="btn-toggleStencil stencil-trigger" style="">
          <i id="btn-left" class="fa fa-chevron-left fa-2x"></i>
        </div>
        <div id="sidebar-left" role="sidebar" class="sidebar">
          <div class="clearfix toolbarName">
              <span id="fileName"><%= truncate(@sandbox.name, length: 40, omission: "...") %></span>
              <span id="fileEdit"><%= link_to('<i class="fa fa-pencil"></i>'.html_safe, [:edit, @sandbox]) %></span>
              <span class="alert"></span>
          </div>
          <div id="toolbar-container">
            <button class="btn-drive-save" onclick="toolbar.saveGraph()" data-tooltip="Save"><i class="fa fa-floppy-o fa-lg"></i></button>
            <button class="btn-print" onclick="paper.print()" data-tooltip="Print"><i class="fa fa-print fa-lg"></i></button>
            <button id="btn-zoom-in" class="btn-zoom-in" onclick="paperScroller.zoom(0.2, { max: 4 })" data-tooltip="Zoom In"><i class="fa fa-search-plus fa-lg"></i></button>
            <button id="btn-zoom-out" class="btn-zoom-out" onclick="paperScroller.zoom(-0.2, { min: 0.2 })" data-tooltip="Zoom Out"><i class="fa fa-search-minus fa-lg"></i></button>
            <button class="btn-clear" onclick="graph.clear()" data-tooltip="Clear"><i class="fa fa-trash fa-lg"></i></button>
            <button class="btn-undo" onclick="commandManager.undo()" data-tooltip="Undo"><i class="fa fa-undo fa-lg"></i></button>
            <button class="btn-redo" onclick="commandManager.redo()" data-tooltip="Redo"><i class="fa fa-repeat fa-lg"></i></button>
            <button class="btn-center" onclick="toolbar.centerGraph()" data-tooltip="Center"><i class="fa fa-arrows-alt fa-lg"></i></button>
          </div>
          <div id="stencil-container"></div>
        </div>

        <div>
          <div class="container-of-inspector-and-trigger">
            <div id="btn-inspector-container" class="btn-toggleInspector inspector-trigger">
              <i id="btn-right" class="fa fa-chevron-right fa-2x"></i>
            </div>
            <div id="inspector-container">
              <div class="about">
                <h1>Vizard</h1>
                <h2>Process Mapping</h2>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript" src="//apis.google.com/js/client.js"></script>
        <script id="graph_data" type="text/json">
          <%= @sandbox.graph_data.html_safe %>
        </script>
