            <!-- <title><%= @sandbox.name %></title> -->
<div class="pull-left left">
	<div id="stencil-container"></div>
</div>
<div id="paper-container" class="clearfix"></div>
<div class="pull-right right">
	<div id="inspector-container">
		<div class="about">
			<h1>Vizard</h1>
			<h2>Process Mapping</h2>
		</div>
	</div>
</div>
        <script type="text/javascript" src="//apis.google.com/js/client.js"></script>
        <script id="graph_data" type="text/json">
          <%= @sandbox.graph_data.html_safe %>
        </script>
