<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vizard Share</title>
</head>
<body>
  <p><%= t('.exist_add_to_share') %></p>

  <p><%= link_to @project.title, project_url(@project), subdomain: Apartment::Tenant.current %></p>

  <% if @message %>
    <p><%= @message %></p>
  <% end %>

</body>
</html>