<div id="qunit"></div>
<div id="qunit-fixture"></div>


<link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.17.1.css">
<script src="//code.jquery.com/qunit/qunit-1.17.1.js"></script>
<script src="/assets/tests.js"></script>