<%# add navigation links to this file %>
<div class="nav">
  <div id="toolbar-container" data-step="1" data-intro="This is the toolbar">
    <% if(@owner) %>
      <button class="btn-drive-save" onclick="toolbar.saveGraph()" data-tooltip="Save"><i class="fa fa-floppy-o fa-lg"></i></button>
    <% end %>
    <button class="btn-print" onclick="paper.print()" data-tooltip="Print"><i class="fa fa-print fa-lg"></i></button>
    <button id="btn-zoom-in" class="btn-zoom-in" onclick="paperScroller.zoom(0.2, { max: 4 })" data-tooltip="Zoom In"><i class="fa fa-search-plus fa-lg"></i></button>
    <button id="btn-zoom-out" class="btn-zoom-out" onclick="paperScroller.zoom(-0.2, { min: 0.2 })" data-tooltip="Zoom Out"><i class="fa fa-search-minus fa-lg"></i></button>
    <button class="btn-center" onclick="toolbar.centerGraph()" data-tooltip="Center"><i class="fa fa-arrows-alt fa-lg"></i></button>
    <% if(@owner) %>
      <button class="btn-undo" onclick="commandManager.undo()" data-tooltip="Undo"><i class="fa fa-undo fa-lg"></i></button>
      <button class="btn-redo" onclick="commandManager.redo()" data-tooltip="Redo"><i class="fa fa-repeat fa-lg"></i></button>
      <button class="btn-clear" onclick="graph.clear()" data-tooltip="Clear"><i class="fa fa-trash fa-lg"></i></button>
    <% end %>
    <button class="btn-center" onclick="javascript:introJs().setOptions({exitOnOverlayClick: false}).start();" data-tooltip="Help"><i class="fa fa-question-circle fa-lg"></i></button>
  </div>
</div>
